:php
  namespace #{wpttenv.name};
  /**
   * The template for displaying comments
   *
   * The area of the page that contains both current comments
   * and the comment form.
   *
   * @package WordPress
   * @subpackage #{wpttenv.name}
   * @since wptt 1.0
   */

  /*
   * If the current post is protected by a password and
   * the visitor has not yet entered the password we will
   * return early without loading the comments.
   */
  if ( post_password_required() ) {
  	return;
  }

div#comments.comments-area
  - if ( have_comments() ) :
    h2.comments-title
      - printf( _nx( 'One thought on &ldquo;%2$s&rdquo;', '%1$s thoughts on &ldquo;%2$s&rdquo;', get_comments_number(), 'comments title', '$$' ), number_format_i18n( get_comments_number() ), get_the_title() )

  - comment_nav()

  ol.comment-list
    :php
      wp_list_comments( array(
        'style'       => 'ol',
        'short_ping'  => true,
        'avatar_size' => 56,
        ) );

  - comment_nav()

  - endif;

  :php
    // If comments are closed and there are comments, let's leave a little note, shall we?
    if ( ! comments_open() && get_comments_number() && post_type_supports( get_post_type(), 'comments' ) ) :
  p.no-comments!= _e( 'Comments are closed.', '$$' )
  - endif

  - comment_form()

