/*!
Theme Name: <%= wpttenv.name %>
Theme URI: <%= wpttenv.uri %>
Author: <%= wpttenv.author %>
Author URI: <%= wpttenv.authoruri %>
Description: <%= wpttenv.description %>
Version: <%= wpttenv.version %>
License: <%= wpttenv.license %>
License URI:  <%= wpttenv.licenseuri %>
Tags: <%= wpttenv.tags %>
Text Domain: <%= wpttenv.name %>

*/

@import 'stylinc/twentyfifteen.styl'
/*!
 add/extend to specify your own style.
 */

.site-title, .widget-title
  font-family 'MS P明朝', 'Hiragino Mincho Pro'

body.home
  width auto
  
body.home::before
  width 0px

body.single::before
  background-image url(images/tofu2.png)
  background-size 100% auto
  
body.home #sidebar
  display   block
  position  static
  clear     both
  margin-top  25px
  margin-left auto
  margin-right  auto
  max-width 620px
  width     auto
  float   none
  padding-left  auto
  padding-right auto

body.single
  background-image url(images/daizu2.png)
  

body.home #sidebar header
  margin-top 5px
  margin-left 5px
  margin-right 5px
  margin-bottom 5px
  width   auto
  height  220px
  display block
  padding-top 90px
  padding-left auto
  padding-right auto
  vertical-align  middle
  background-color white
  box-shadow  #B0B0B0 5px 5px 3px
  border-radius 2px
  background-image  url(images/tofu2.png)

body.home #sidebar header .site-branding
  margin  auto

body.home .site-content
  display block
  float none
  position static
  clear both
  margin-left auto
  margin-right auto
  max-width 620px

body.home #widget-area
  display block
  
body.home #sidebar aside
  display inline-block
  width 200px
  height auto
  min-height 100px
  padding 5px 5px 5px 5px
  margin 5px 5px 5px 5px
  background-color white
  box-shadow  #B0B0B0 5px 5px 3px
  border-radius 2px
  background-image  url(images/tofu2.png)
  vertical-align top

body.home #sidebar aside.widget_search
  width 200px

body.home #sidebar aside.widget_nav_menu
  width 350px
    
body.home #sidebar aside.widget_archive
  width 150px

body.home #sidebar aside.widget_categories
  width 140px

body.home article
  margin  5px 5px 5px 5px
  display inline-block
  width 100%
  box-shadow  #B0B0B0 5px 5px 3px
  border-radius 2px
  background-image  url(images/tofu2.png)

body.home #comments
  display none

body.home footer
  display block
  margin-left auto
  margin-right auto
  float none
  max-width 620px
  box-shadow  #B0B0B0 5px 5px 3px
  border-radius 2px
  background-image  url(images/tofu2.png)
  