/*!
Theme Name: <%= wpttenv.name %>
Theme URI: <%= wpttenv.uri %>
Author: <%= wpttenv.author %>
Author URI: <%= wpttenv.authoruri %>
Description: <%= wpttenv.description %>
Version: <%= wpttenv.version %>
License: <%= wpttenv.license %>
License URI:  <%= wpttenv.licenseuri %>
Tags: <%= wpttenv.tags %>
Text Domain: <%= wpttenv.name %>

*/

@import 'stylinc/twentyfifteen.styl'
/*!
 add/extend to specify your own style.
 */
